* {
  margin: 0;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;

  background-color: var(--black);
  background: url(/images/NLWHEAT.png) no-repeat center/cover;

  height: 100vh;
  width: 100vw;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(/images/background.svg) no-repeat center/cover;
  width: 420px;
  height: 880px;

  border-radius: 10px;
  border: 1px solid var(--grey);
  z-index: 1;
  position: absolute;
  display: block;

  opacity: 0.9;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;

  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

  -webkit-transform: scale(1);
  transform: scale(1);

  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
}

.avatar > img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);

  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;

  transition: 0.2s ease-in-out;
  opacity: 0.5;
}

a:hover {
  opacity: 1;
}

p {
  margin-top: 3rem;
}

ul {
  margin-top: 3rem;

  list-style: none;
  padding: 0rem;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

ul > li > img {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

ul > li > a > img:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 0.8s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
